<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96a48d">  <td>17/12/01 17:10:08</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SignupValidation.setUp()[pri:0, instance:test.SignupValidation@148080bb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>17/12/01 17:10:15</td>   <td>6926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupValidation.testSignupSuccess(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test.SignupValidation@148080bb]">testSignupSuccess</td> 
  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>17/12/01 17:10:20</td>   <td>11276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupValidation.testSignupSuccess(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test.SignupValidation@148080bb]">testSignupSuccess</td> 
  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>17/12/01 17:10:21</td>   <td>12351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupValidation.testSignupSuccess(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test.SignupValidation@148080bb]">testSignupSuccess</td> 
  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>17/12/01 17:10:22</td>   <td>13751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupValidation.testSignupSuccess(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test.SignupValidation@148080bb]">testSignupSuccess</td> 
  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>17/12/01 17:10:24</td>   <td>15359</td> <td>&nbsp;</td><td title="&lt;&lt;SignupValidation.tearDown()[pri:0, instance:test.SignupValidation@148080bb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
</table>
